body {
  background-color: #ece8e8;
}

#viewDiv canvas {
  filter: drop-shadow(0px 14px 8px gray);
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

#titleDiv {
  font-size: 18pt;
  padding: 10px;
  font-weight: 800;
}

#subtitleDiv{
  font-size: 10pt;
  padding-bottom: 10px;
}

#timeOptions {
  position: absolute;
  left: 55px;
  right: 65px;
  bottom: 30px;
}

#time-slider-toggle {
  position: absolute;
  left: 15px;
  bottom: 30px;
  height: 32px;
  width: 32px;
}

#time-slider-toggle:hover{
  cursor: pointer;
}

#ui-controls{
  padding: 10px;
  width: 250px;
}

#legend {
  width: auto;
}

.esri-select {
  font-size: medium;
}

#difference{
  margin-top: 10px;
}

.esri-legend__service {
  padding: 0
}

.btn-border {
  border: 1px solid #4c4c4c;
}

#statistics {
  font-family: Lucida Sans Typewriter,Lucida Console,monaco,Bitstream Vera Sans Mono,monospace;
  position: absolute;
  top: 10px;
  left: 25%;
  font-size: 12pt;
}

.count{
  font-weight: 900;
}

#active-label{
  color: #e60049;
  float: left;
  margin: 5px;
}
#recovered-label{
  color: #b3cde3;
  float: left;
  margin: 5px;
}
#deaths-label{
  color: #000000;
  float: left;
  margin: 5px;
}

#info{
  padding: 10px;
  font-size: 10pt;
}