html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #cfd3d4;
}

#titleDiv {
  font-size: 18pt;
  padding: 10px;
  font-weight: 800;
}

#subtitleDiv{
  font-size: 10pt;
  padding-bottom: 10px;
}

#timeOptions {
  position: absolute;
  left: 55px;
  right: 65px;
  bottom: 30px;
}

#time-slider-toggle {
  position: absolute;
  left: 15px;
  bottom: 30px;
  height: 32px;
  width: 32px;
}

#ui-controls{
  padding: 10px;
  width: 250px;
}

#legend {
  width: auto;
}

.esri-select {
  font-size: medium;
}

#difference{
  margin-top: 10px;
}

.leader-1{
  width: 100%;
}

.esri-legend__service {
  padding: 0
}